.grid1 {
	display: grid;
	grid-template-columns: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid2 {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 10px;
	row-gap: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.arrow-btn {
	background: none;
	border: none;
	cursor: pointer;
}

.arrow-btn .arrow {
	width: 20px;
	transition: opacity 0.1s;
}

.arrow-btn:hover .arrow {
	content: url("/images/icons/back_arrow2.webp");
}

.icon {
	width: 17px;
}

.image-btn {
	width: 90px;
}

p {
	margin: 0px;
	font-size: 25px;
}

h1 {
	text-align: center;
}